fastapi==0.111.0
fastapi-cli==0.0.5
matplotlib==3.6.3
matplotlib-inline==0.1.7
matplotlib-venn==0.11.6
pydantic==2.9.2
pydantic_core==2.23.4
pydantic-extra-types==2.10.4
pydantic-settings==2.8.1
uvicorn==0.19.0
ortools
numpy==1.24.4
pillow==10.2.0
networkx==3.1